body {
  margin-top: 50px;
}

.text-white {
  color: white !important;
}

.text-black {
  color: black !important;
}

.padding-footer {
  padding-top: 2em;
}

.profile {
  text-align: center;
  margin-bottom: 2em;
}

.profile h3 {
  margin-top: 0;
}

.img-brand {
  height: 20px;
  margin-right: .3em;
}

.main-page-section {
  padding: 3em 0;
}

@media screen and (min-width: 768px) {
  .main-page-section h1 {
    margin-top: 0;
  }
}

.main-page-section:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.page-header .btn-valign {
  margin-top: 25px;
}

.jumbotron-compsoc {
  background-color: rgb(56, 69, 79);
}

.navbar-default {
  background-color: rgb(56, 69, 79);
  border: none;
}

.navbar-default ul li a, .navbar-default .navbar-text {
  color: white !important;
}
