{% extends "layout.twig" %}

{% block title %}About Us - {{ parent() }}{% endblock %}

{% block content %}

<div class="container">
  <div class="page-header">
    <h1>Current Committee <small>2016 - 2017</small></h1>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <article class="profile">
        <img src="https://www.gravatar.com/avatar/7e29b4e5ebcbf5a15dfd9956f8ab4904?s=100" alt="Profile photograph of Luke Fisher" class="img-circle">
        <h2>Luke Fisher</h2>
        <h3>President</h3>
        <p>BSc (Hons) Computer Science student, just finished placement year and is available to contact below:</p>
        <div>
          <a href="https://twitter.com/ljf_io" target="_blank" class="btn btn-default btn-sm"><i class="fa fa-fw fa-twitter"></i></a>
          <a href="https://facebook.com/lukefisher.me" target="_blank" class="btn btn-default btn-sm"><i class="fa fa-fw fa-facebook"></i></a>
        </div>
      </article>
    </div>
    <div class="col-sm-6">
      <article class="profile">
        <img src="https://www.gravatar.com/avatar/a?s=100" alt="Profile photograph of Christina Moir" class="img-circle">
        <h2>Christina Moir</h2>
        <h3>Vice President</h3>
        <p>BSc (Hons) Computing Science student</p>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <article class="profile">
        <img src="https://www.gravatar.com/avatar/a?s=100" alt="Profile photograph of Eilidh Southren" class="img-circle">
        <h2>Eilidh Southren</h2>
        <h3>Secretary</h3>
        <p></p>
      </article>
    </div>
    <div class="col-sm-6">
      <article class="profile">
        <img src="https://www.gravatar.com/avatar/a?s=100" alt="Profile photograph of Ryan Cowley" class="img-circle">
        <h2>Ryan Cowley</h2>
        <h3>Treasurer</h3>
        <p></p>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <article class="profile">
        <img src="https://www.gravatar.com/avatar/a?s=100" alt="Profile photograph of Lucy Axford" class="img-circle">
        <h2>Lucy Axford</h2>
        <h3>Third Year Rep</h3>
        <p></p>
      </article>
    </div>
  </div>
</div>

{% endblock %}
