{% extends "layout.twig" %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <center>
      <h1>Computing Society. Bigger. Better.</h1>
      <h2>Find out more...</h2>
    </center>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      {# Image of meetup here #}
    </div>
    <div class="col-sm-6">
      <h1>Regular Meetups</h1>
      <h2>We need your help!</h2>
      <p>
        To make the society more accessible to RGU Students we need you to help us decide the best days and times to meet up.
      </p>
      <p>
        We have created an online poll for you to share when you are available and think would be best for you to attend meetups and events.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h1>External Speakers</h1>
      <h2>Hear from industry leaders</h2>
      <p>
        We hope to introduce you to people that have found their foot in industry.
        From recent graduates working at a really cool place to big influencers in their chosen field.
      </p>
    </div>
    <div class="col-sm-6">
      {# Image of speakers at a podium #}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      {# Image of paper with problems on them #}
    </div>
    <div class="col-sm-6">
      <h1>Help Sessions</h1>
      <h2>Assist you with your problems</h2>
      <p>
        This year we look to hold regular drop in help sessions for you to let us help you.
        We are a smart bunch that love helping others.
        So why not let us provide advice on that coursework that is
      </p>
    </div>
  </div>
</div>

{% endblock %}
