{% extends "layout.twig" %}

{% block title %}Join Us - {{ parent() }}{% endblock %}

{% block content %}

<div class="alert alert-warning">
<b>Sorry!</b> We're still building this area, check back soon! 😺
</div>

{% endblock %}
