{% import "navbar.macro.twig" as navbar %}

<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}Computing Society{% endblock %}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body lang="en">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#rgucs-main-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="text-black">RGU :</span> Computing Society</a>
        </div>
        <div class="collapse navbar-collapse" id="rgucs-main-navbar">
          <ul class="nav navbar-nav">
            {{ navbar.link(path_for('events'), 'Events', is_current_path('events')) }}
            {{ navbar.link(path_for('about'), 'About', is_current_path('about')) }}
            {{ navbar.link(path_for('join-us'), 'Join Us', is_current_path('join-us')) }}
          </ul>
          <div class="pull-right hidden-xs">
            <span class="navbar-text hidden-sm">Connect with us:</span>
            <a class="btn btn-success navbar-btn" target="_blank" href="mailto:compsoc@rgu.ac.uk"><i class="fa fa-fw fa-envelope"></i></a>
            <a class="btn btn-primary navbar-btn" target="_blank" href="https://www.facebook.com/RGUComputingSociety"><i class="fa fa-fw fa-facebook"></i></a>
            <a class="btn btn-info navbar-btn" target="_blank" href="https://twitter.com/RGU_CS"><i class="fa fa-fw fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <footer>
      <div class="text-center padding-footer">
        Copyright &copy; {{ "now"|date("Y") }} &bull; Crafted with <i class="fa fa-heart text-danger"></i> by RGU Students
      </div>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </footer>
  </body>
</html>
