$compsoc-bg-dark-color: rgb(56, 69, 79);

$navbar-default-bg: $compsoc-bg-dark-color;
$navbar-default-color: white;

$navbar-default-link-color: white;
$navbar-default-link-hover-color: white;
$navbar-default-link-active-color: white;

$trans-grey: rgba(46, 59, 69, 0.76);
$trans-grey-dk: rgba(38,46,53,0.76);
$trans-grey-lt: rgba(66,79,89,0.76);

$transition: all 0.5s ease;

@import 'bootstrap';

body {
  margin-top: $navbar-height;
}

  background: $trans-grey;
}

//navbar style
.nav li a {
  
  border: 5px;
  transition: $transition;
}

.nav li a:hover {
  background-color: $trans-grey-dk !important;
}

.navbar-btn,.btn{
  transition: $transition;
  color: white;
  background-color: $trans-grey-lt;
  border-color: $trans-grey-dk;
  border-width: 2px;
}

.img-brand {
  height: 20px;
  margin-right: .3em;
}

.jumbotron-compsoc {
  background-color: $compsoc-bg-dark-color
}

.profile {
  padding: 1em;
  text-align: center;
  h3 {
    margin-top: 0;
  }
}

.main-page-section {
  padding: 3em 0;
  border-radius: 5px;
  @media screen and (min-width: $screen-sm) {
    & h1 {
      margin-top: 0;
    }
  }
}

.page-header .btn-valign {
  margin-top: 25px;
}

.padding-footer {
  padding-top: 2em;
}
